torch
langchain
ollama
neo4j
sentence-transformers
transformers
peft
accelerate
duckdb
#autogluon
autoviz
python-dateutil
lxml
pypdf2
python-docx
openpyxl
#tesseract
#textblob
#gensim
#cryptography
#spacy
# Add other necessary packages
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability