torch
langchain
ollama
neo4j
sentence-transformers
transformers
peft
accelerate
duckdb
#autogluon
autoviz
python-dateutil
lxml
pypdf2
python-docx
openpyxl
#tesseract
#textblob
#gensim
#cryptography
#spacy
# Add other necessary packages
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability