torch
streamlit
langchain
ollama
neo4j
sentence-transformers
transformers
peft
accelerate
duckdb
autogluon
python-dateutil
lxml
pypdf2
python-docx
openpyxl
tesseract
textblob
gensim
cryptography
spacy
IPython
chardet
unidecode
ydata_profiling

# Add other necessary packages
# the packages should be identical to those for jupyter_lab