torch
streamlit
langchain
ollama
neo4j
sentence-transformers
transformers
peft
accelerate
duckdb
#autogluon
python-dateutil
lxml
pypdf2
python-docx
openpyxl
tesseract
#textblob
#gensim
#cryptography
#spacy
IPython
chardet
unidecode
ydata_profiling
rapidfuzz
openai
anthropic
google-cloud-aiplatform
boto3 #for AMZ Bedrock
plotly
semopy
scipy
openpyxl # for Entity Bridge
xlrd # for Entity Bridge
python-Levenshtein # for Entity Bridge
fuzzywuzzy # for Entity Bridge
seaborn 
matplotlib
pandera
genson
streamlit_pandas_profiling
nltk
msgpack
xmlschema

# Add other necessary packages
# the packages should be identical to those for jupyter_lab
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability