chardet
scikit-learn
unidecode
rapidfuzz
fuzzywuzzy
jsonschema
matplotlib
seaborn
pandas
numpy
openpyxl
pyxlsb
pyarrow
xlrd
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability